<div>
  <form action="add-scene" method="POST" enctype="multipart/form-data">
    <button>Add New Scene</button>
    <input type="file" name="manifest-file" accept="text/json, application/json">
  </form>
</div>
