<div class="scene-list">
  <% scenes.forEach(scene => { %>
    <div id="<%= scene.id %>">
      <%- `<a href="/${scene.id}">${scene.name}</a>` %>
      <%- `<a href="/${scene.id}/control">Control</a>` %>
      <%- `<a href="/${scene.id}/display">Display</a>` %>
    </div>
  <% }) %>
</div>
