<html>
  <head>
    <title><%= scene.id %> --- SRScene ---</title>
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/public/style.css">
  </head>
  <body>
    <%- include('templates/header.ejs') %>
    <p>Control for <%= scene.id %></p>
  </body>
</html>
