<html>
  <head>
    <title>--- SRScene ---</title>
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/public/style.css">
  </head>
  <body>
    <%- include('templates/header.ejs') %>
    <p><%= Date.now() %></p>
    <%- include('templates/scene-list.ejs') %>
    <%- include('templates/new-scene.ejs') %>
  </body>
</html>
