<html>
  <head>
    <title><%= scene.id %> --- SRSCENE</title>
  </head>
  <body>
    <h1><%= scene.id %></h1>
    <%- `<a href="/${scene.id}/control">Control</a>` %>
    <%- `<a href="/${scene.id}/display">Display</a>` %>
  </body>
</html>
